/*Outer space color palette, from adobe cc*/
/*
#2b448c
#2a558c
#5ab8f3
#a0e3f2
#0d0d0d
*/
body {
  background-color: #5ab8f3;
}

h1, h2, h3 {
  padding-left: 5px;
  font-family: 'Droid Serif' Times Serif;
  color: #0d0d0d;
}

#directions {
  margin-left: 5px;
}

img {
  width: 400px;
  height: 300px;
  border: 2px solid #0d0d0d;
  border-radius: 4px;
}

#image1 {
  padding-left: 5px;
}

#image2 {
  padding-left: 5px;
}

button {
  padding: 0 10px;
  text-transform: none;
  color: #0d0d0d;
}

canvas {
  display: block;
  margin: 10px;
}

header {
  background-color: #2a558c;
}

.hidden {
  display: none;
}
